body {
  background-color: #ffe9d5;
}

.searchbar {
  display: flex;
  justify-content: center;
}

#search {
  border: 2px solid #d6ae65;
  border-radius: 4px;
}

.searchBtn {
  background-color: #d6ae65;
  border: 2px solid #d6ae65;
  border-radius: 4px;
  transition-duration: 0.4s;
  color: white;
  font-size: 1rem;
  margin-left: 5px;
}

.searchBtn:hover {
  background-color: #e68a22; 
  border: 2px solid #e68a22;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.deleteBtn {
  background-color: hsl(14, 87%, 76%);
  border: 2px solid hsl(14, 87%, 76%);
  border-radius: 4px;
  transition-duration: 0.4s;
  color: white;
  font-size: 1rem;
}

.deleteBtn:hover {
  background-color: #cc3c04; 
  border: 2px solid #cc3c04;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.breach-card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.breach-card {
  border: 2px solid #000;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 350px;
}

.breach-card img {
  float: right;
}